<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >Mapa</ion-title>
    <ion-buttons slot="end">
      <ion-button >
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="mapId" style="width: 100%; height: 100%">
  </div>
</ion-content>
