<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngFor="let item of data; index as i">
      <ion-col class="ion-text-center">
          <ion-card class="ion-padding">
          <img  [src]="item.picture" />
          <ion-card-header>
            <ion-card-subtitle>{{ item.email }}</ion-card-subtitle>
            <ion-card-title>{{ item.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ item.about }}
          </ion-card-content>
        </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
