<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Formulário
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--nossisui-tag type="info">asdas</nossisui-tag>

  <nossisui-badge badge="24" [loading]="false" type="success"></nossisui-badge-->
  <ion-grid>


    <!-- div e baixo para validacoes
    <div> {{registrationForm.value | json}}</div> -->
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">

      <div *ngFor="let control of dynamicFormArray">

        <div [ngSwitch]="control.type" class="mainSwitch">

          <div *ngSwitchCase="'input'">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="floating">{{control.label}}</ion-label>
                  <ion-input type="text" [formControlName]="control.id"></ion-input>
                  <div *ngIf="registrationForm.get(control.id).dirty || registrationForm.get(control.id).touched"
                    class="required">
                    <small class="text-danger" *ngIf="registrationForm.get(control.id).hasError('required')">
                      O campo {{control.label}} é necessário ser preenchido.
                    </small>
                    <small class="text-danger" *ngIf="registrationForm.get(control.id).hasError('minlength')">
                      O tamanho minimo do campo {{control.label}} é de {{registrationForm.get(control.id).errors.minlength.requiredLength}}
                      caracteres.
                    </small>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>


          <div *ngSwitchCase="'date'">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label position="stacked">{{control.label}} <span
                      *ngIf="control.validation.required && !registrationForm.get(control.id).touched"
                      class="required">&#42;</span></ion-label>
                  <ion-input type="date" [formControlName]="control.id"></ion-input>
                  <div *ngIf="registrationForm.get(control.id).dirty || registrationForm.get(control.id).touched"
                    class="required">
                    <small *ngIf="!registrationForm.get(control.id).valid">
                      O campo {{control.label}} não está preenchido.
                    </small>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </div>


          <div *ngSwitchCase="'select'">
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-label>{{control.label}}</ion-label>
                  <ion-select [formControlName]="control.id" placeholder="Selecione um">
                    <ion-select-option *ngFor="let item of control.value.split(',')" value="{{item}}">{{item}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <div *ngIf="registrationForm.get(control.id).dirty || registrationForm.get(control.id).touched"
                  class="required">
                  <small *ngIf="!registrationForm.get(control.id).valid">
                    O campo {{control.label}} não está preenchido.
                  </small>
                </div>
              </ion-col>
            </ion-row>
          </div>

          <div *ngSwitchCase="'radio'">
            <ion-row>
              <ion-col>
                <ion-list>
                  <ion-radio-group [formControlName]="control.id">
                    <ion-list-header>
                      <ion-label>Sexo</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let item of control.value.split(',')">
                      <ion-label>{{item}}</ion-label>
                      <ion-radio value="{{item}}" name="{{control.id}}"></ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
                <div *ngIf="registrationForm.get(control.id).dirty || registrationForm.get(control.id).touched"
                  class="required">
                  <small *ngIf="!registrationForm.get(control.id).valid">
                    O campo {{control.label}} não está preenchido.
                  </small>
                </div>
              </ion-col>
            </ion-row>
          </div>



        </div>
        <!-- /Switch-->
      </div>
      <!-- /For-->

      <ion-button type="submit" expand="block" color="success" [disabled]="!registrationForm.valid">Register
      </ion-button>
    </form>
  </ion-grid>
  <!-- /grid-->
</ion-content>
<!-- /content-->
